.root {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  text-align: center;
  .mask {
    z-index: -1;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  }
  .panel {
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    text-align: left;
    width: 90%;
    background-color: #0089ff;
    overflow: hidden;
  }
  .title {
    position: relative;
    color: #fff;
    padding: 35rpx 0;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }
  .control {
    padding: 35rpx 0;
    text-align: center;
    background-color: #fff;
  }
  .closeBtn {
    position: absolute;
    right: 8px;
    top: 8px;
    opacity: 0.8;
  }
}
