page {
  display: flex;
  flex-direction: column;
  background-color: #eee;
}
.g-search {
  display: block;
}
.g-container {
  flex: auto;
  overflow: auto;
}
.g-list-item {
  background-color: #fff;
  padding: 30rpx 25rpx;
  margin-bottom: 15rpx;
  .title {
    line-height: 1.3;
    font-size: 35rpx;
    font-weight: 500;
  }
  .summary {
    display: flex;
  }
  .info {
    border-bottom: 1px dotted #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10rpx 0 20rpx;
    padding-bottom: 10rpx;
  }
  .thumb {
    flex: none;
    width: 250rpx;
    height: 152rpx;
    margin-right: 15rpx;
  }
  .text {
    flex: auto;
    font-weight: 150;
    font-size: 25rpx;
    line-height: 1.6em;
    max-height: 160rpx;
    text-overflow: ellipsis;
    color: #666;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
  .date {
    color: #aaa;
    font-size: 12px;
  }
}
.g-pagination {
  font-size: 12px;
  text-align: center;
  opacity: 0.3;
  padding-bottom: 25rpx;
}

// .g-container {
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-between;
//   box-sizing: border-box;
// }
